In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('../data/raw/ml-100k/u.data', sep='\t', names=['user_id', 'movie', 'rating', 'timestamp'])
dataframe.head()

   user_id  movie  rating  timestamp
0      196    242       3  881250949
1      186    302       3  891717742
2       22    377       1  878887116
3      244     51       2  880606923
4      166    346       1  886397596

In [6]:
dataframe.drop('timestamp', axis=1, inplace=True)

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  100000 non-null  int64
 1   movie    100000 non-null  int64
 2   rating   100000 non-null  int64
dtypes: int64(3)
memory usage: 2.3 MB

In [9]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(dataframe, test_size=0.2, random_state=123)

In [12]:
train.to_csv('../data/interim/train.csv', index=False, sep='\t', header=False)
test.to_csv('../data/interim/test.csv', index=False, sep='\t', header=False)